# Org-wide: https://github.com/mhome-ai
# Single repo: https://github.com/mhome-ai/baycat
RUNNER_URL=https://github.com/mhome-ai
RUNNER_NAME=
RUNNER_LABELS=Linux,AMD64,release-linux-amd64
RUNNER_TOKEN=
